<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Foot @work</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
    body {
        padding-top: 80px;
    }
    </style>
    <link rel="icon" href="./images/favicon.ico">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-futbol-o"></span> Foot @work</h1>

            <p>
                <span class="fa fa-lock"></span> Login or Register with:</p>

            <a href="/login" class="btn btn-default">
                <span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default">
                <span class="fa fa-user"></span> Local Signup</a>
            <a href="/auth/facebook" class="btn btn-primary">
                <span class="fa fa-facebook"></span> Facebook</a>

        </div>

    </div>
</body>

</html>